<h1>Blog Content</h1>
<br />
<%= @blogs.content %>
<br />

<p>
<%= link_to 'Delete this Blog', edit_blog_path, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</p>
<p><%= link_to 'Edit this Blog', edit_blog_path %></p>
</p>
<%= link_to 'Home', blogs_path %>